
/************** Description ****************/
.one{
    background-color: rgb(9, 217, 147);
    color: white;
    
}

.container{
    margin: auto;
}


.text-center{
    font-weight: 600;
    color: white;
}



.img-jumbo{
    max-width: 300px;
    padding-top:2rem;
}

.line-star{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}

.line{
    width: 100px;
    height: 4px;
    background-color: white;
    border-radius: 20px;
    margin-top: 0.2rem;
}

.star{
    font-size: 30px;
    margin-inline: 0.5rem;
}

.line-write{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding-left: 0;
    padding-bottom: 2.5rem;
}

.line-write li{
    margin-inline:0.2rem
}

/************** Portfolio ****************/

.text-dark{
    color: black;
}

.dark{
    background-color: black;
}



.contents{

    /* background-color: aqua; */
}

img{
    border-radius: 20px;
}


.button{
    background-color: rgb(9, 217, 147);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

.contact{
    padding-inline: 12rem;
}

/******************Footer*****************/

footer{
    background-color: black;
}

.container-footer{
    height: 6rem;
}